/* make header (h1-h6) tags not appear as they are just there to account for valid html structure when using semantic tags */
/* .invisible {
  display: none;
} */

/* styling for items in the navbar */
.articleContainer {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.captionSize {
  font-size: 24px;
}

.johnNavLink {
  display: block;
  padding: .5rem 0 .5rem 1rem;
  font-size: 20px;
}
.brand {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(125, 129, 128);
}

.embedSize {
  height: 750px;
  width: 75%;
}

.card {
  margin: 10px 0px;
}

.aboutTextColor {
  color: rgb(127, 125, 129);
}

/* styling for bottom of container */
.marginBottomCont {
  margin-bottom: 150px;
}

/* styling for buttons */
.myButton {
  color: #fff;
  background-color: rgb(128, 90, 167);
  border-color: rgb(128, 90, 167);
  margin-right: 5px !important;
}

/* styling to keep column items separated */
.marginBottomCol {
  margin-bottom: 20px;
}

.jumbotron {
  height: 300;
  clear: "both";
  padding-top: 120;
  text-align: "center";
  background-image: url("./images/pngfind.com-books-png-591502.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}

body {
  background-color: rgb(247, 244, 233, 0.391);
}
/* styling for background of pages */
/* body {
  background-image: url("./images/GrayXL.png");
  background-attachment: fixed;
} */

/* styling for border bottom for Card object in grid */
.myBottomBorder {
  border-bottom-width: 5px !important;
  border-bottom-style: solid !important;

  border-bottom-color: gray;
}
.myBottomBorder1 {
  border-bottom-width: 5px !important;
  border-bottom-style: solid !important;

  border-bottom-color: white;
}
/* generic padding amount */
.padding {
  padding-right: 20px;
}

.interiorCardColor {
  background-color: rgb(250, 240, 151)
}

.bookCardColor {
  background-color: rgb(247, 244, 233, 0.391);
}
.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* styling for personal picture on About Me page */
/* .johnPic {
  max-width: 100%;
  height: auto;
  max-height: 260px;
} */

/* styling for the footer */
.myFooter {
      padding: 5px 0;
      margin: 0;
}

.buttonMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-padding {
  padding: 5px;
  margin: 5px;
}
/* 
.interiorCardColor {
  background-color: rgb(128, 90, 167)
} */

/* .cardBodyBorder {
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: gray;
} */